extends ../layout 

block content 
  if employee
    div.showww
      h1 #{employee.first_name} #{employee.last_name}
      h3 #{employee.position}
      p
        a(href="/restaurants/#{employee.restaurant_id}/employees/#{employee.id}/edit") Edit Employee
      p
        form(action='/restaurants/#{employee.restaurant_id}/employees/#{employee.id}/delete' method='post')
          input(type='submit' value='Delete') 
