extends ../layout 

block content 
  if restaurant
    div.showww
      h1 #{restaurant.name} 
      h3 #{restaurant.city}, #{restaurant.state} 
      h3 #{restaurant.cuisine}
      p
        - var rating = restaurant.rating
        - for (var x = 0; x < rating; x++)
          img(src="../images/star.png", alt="rating star") 
      p #{restaurant.description} 
      p 
        a(href='/restaurants/'+ restaurant.id + '/edit') Edit
        form(action='/restaurants/#{restaurant.id}/delete' method='post')
          input(type='submit' value='Delete')
    div.showww
      h1 employees
      p
        a(href="/restaurants/#{restaurant.id}/employees/new") Add a New Employee
    div.showww
      h1 reviews
      p
        a(href="/restaurants/#{restaurant.id}/reviews/new") Add a New Review
